<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width", initial-scale="1" >  <!-- 반응형 웹에 사용하는 메타태그 -->
<link rel="stylesheet" href="css/bootstrap.css"> <!-- 참조  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <title>JSP 게시판 웹 사이트</title>
<!--이아래 꼭 추가-->
    <script type="text/javascript" th:inline="javascript">
        /*]]>*/
        $(document).ready(function() {
            console.log([[${session.msg}]]);
            let msg = [[${session.msg}]];
            console.log(msg);
            if (msg != null) {
                alert(msg);
            }
        })
        /*]]>*/
        document.location.href = "/noticeboard"
    </script>
    <!---->
</head>
<body>

<div th:text="${session.msg}">message here</div>
<div>[[${user.id}]]</div>
<div>[[${user.password}]]</div>
<div>[[${user.name}]]</div>
<div>[[${user.phoneNumber}]]</div>
<div>[[${user.role}]]</div>

</body>
</html>
